<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
    <ion-content>
      <ion-content>
        <div>
          <ion-item>
              <ion-input id="email" placeholder="Email" expand="block"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input id="password" placeholder="Password" expand="block"></ion-input>
        </ion-item>
    
          <ion-button expand="block" (click)="log()">Login</ion-button>
        </div>
      </ion-content>
    </ion-content>
